
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examples</title>
</head>
<body>
    <h1>Поиск примера употребления английского слова<br>в литературном произведении:</h1>
    <br>
    <form method="POST" action="/result">
        Введите слово для поиска:<br>
        <input type="text" name="word" value= Ron><br>
        Введите количество примеров:<br>
        <input type="text" name="count" value= 5><br><br>
        <input type="submit" value="Поиск">
    </form>
</body>
</html>